<h1>Docs</h1>

<div id="docs">
  <% @docs.each do |doc| %>
    <div>
         <a href="/docs/<%= doc.id %>">
           <%= doc.title %>
        </a>
    </br>
        <%= doc.content%>
    </div>
  <% end %>
</div>
<%= link_to "Create New Doc", new_doc_path %>
<%= button_to "Logout", destroy_user_session_path, method: :delete %>